<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap-social.css">
  <link rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">

  <title>offhaul</title>
</head>

<body>
  {{> _navbar}} {{> _messages}} {{{body}}}
  <div class="footer-spacer"></div>
  {{> _footer}}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/lib/jquery.min.js"> </script>
  <script src="/js/lib/popper.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>