<div class="container">
  <h1 class="text-center">{{title}}</h1>
  <form method="POST" class="pt-5">
    <div class="form-group row col-8 mx-auto">
      <label for="selectProtocol" class="col-md-4">
        <h5 class="lead">Select your protocol</h5>
      </label>
      <div class="col-md-8">
        <select class="form-control selectProtocol" name="selectProtocol">
          <option selected>...</option>
          <option value="imap">IMAP</option>
          <option value="pop" disabled>POP3 (comming soon)</option>
        </select>
      </div>
    </div>
  </form>
</div>